.address-area{
    .address-logo{
        border-right: 1px solid #ECECEC;
        padding-bottom:$paddingBottm;
        p{            
            width: 309px;
            font-size: 24px;
            margin-top: 48px;
            color: #373737;
            font-weight: 600;
            line-height: 135.3%;
        }
    }
    .address-call{
        margin-bottom: 40px;
        padding-left: 20px;
        span{
            display: block;
            padding-bottom: 8px;
            font-size: 19px;
        }
        a{
            display: inline-block;
            font-size: 22px;
            font-weight: 600;
        }
    }
    .border-1 {
        border-width: 1px!important;
        border-bottom: 1px solid #ECECEC;
    }
}