.contact-us{
    padding-bottom: $paddingBottm;
    .contact-form{
        .form-group-div{
            label{
                font-size: 16px;
                color: #444444;
            }
            input{
                border-radius: 5px;
                border: 1px solid #ced4da;
                padding: 10px 15px;
                margin-bottom: 20px;
            }
        }
        .services-tag{
            p{
                color: #444444;
                margin-bottom: 10px;
            }
            button{
                background: none !important;
                color:$primaryColor;
                margin-right: 10px;
                border: 1px solid #ced4da;
                &:hover{
                    background: #000 !important;
                    color: #fff !important;
                } 
            }
            .actives{
                background: #000 !important;
                color: #fff;
            }
        }
        textarea{
            resize: inherit;
            padding-bottom: 17px;
        }
    }
}