.section-heading {
    padding-bottom: 50px;
    img {
        width: 7%;
        margin-bottom: 10px;
    }
    span {
        color: #989595;
        font-size: 18px;
    }
    h2 {
        font-size: 36px;
        font-weight: 600;
        text-transform: capitalize;
        padding-bottom: 10px;
    }
    p {
        font-size: 16px;
        color: #878787;
        width: 500px;
        margin: 0 auto;
    }
}